
@{
    ViewBag.Title = "Error";
}

<h2>Oops, the album is gone!</h2>

<div class="margin-top-45">
    <a href="/Products/Index" class="btn btn-default"><span class="glyphicon glyphicon-cd"></span> Back to Products</a>
</div>