body {
    background-image: url(/Images/albums.gif);
    background-attachment: fixed;
    color: white;
}

hr {
    border: none;
}

.thumbnail {
    background-color: #2c3e50;
    padding: 0;
    border: 2px solid white;
}
