
@{
    ViewBag.Title = "Good Ol' Music";
}

<div class="row">
    <div id="home-jumbotron" class="jumbotron">
        <div id="jumbo-text" class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1>Welcome To Good Ol' Music</h1>
            <p>Here we got some good old albums that's awesome</p>
        </div>
    </div>
</div>
<div class="row">
    <div id="bestseller" class="jumbotron">
        <h2>BESTSELLERS</h2><br />
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="/Products/Details/7">
                <img class="img-responsive" src="/Images/BobMarley.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="/Products/Details/6">
                <img class="img-responsive" src="/Images/ElvisTheKing.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="/Products/Details/4">
                <img class="img-responsive" src="/Images/BackstreetBoys.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="/Products/Details/3">
                <img class="img-responsive" src="/Images/GreenDay.jpg" />
            </a>
        </div>
    </div>
</div>
<div id="space" class="row">
    <h1>AC/DC CONSERT!</h1>
    <p>2016 is the year to be a AC/DC fan</p>
</div>
<div class="row">
    <div id="myCarousel" class="carousel slide container col-lg-7 col-md-7 col-sm-7 col-xs-7" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Images/rockconcert1.jpg" alt="crowd">
            </div>
            <div class="item">
                <img src="/Images/ac-dc.jpg" alt="acdc">
            </div>
            <div class="item">
                <img src="/Images/acdc-again.jpg" alt="acdc-again">
            </div>
        </div>
    </div>
    <section id="konserttext" class="container-fluid col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h2>Buy tickets now!</h2>
        <h5>AC/DC consert in London Saturday 4th July 2016, buy your tickets now and get a free AC/DC t-shirt!</h5><br>
    </section>
</div>

<link href="~/Content/Index-style.css" rel="stylesheet" />


